.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.Label{
    display: block;
    font-weight: bold;
    margin-top: 8px;
}

.InputElement{
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font-family: inherit;
    padding: 6px 10px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.InputElement:focus{
    outline: none;
    background-color:#FFE9AB;
}

.Invalid{
    border: 1px solid red;
    background-color: rgb(255, 184, 176);
}